/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  background: white;

  font-size: 60px;
  font-weight: bold;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #2c3e50;
}

* {
  box-sizing: border-box;
}
